<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<div>
    <% if (id != undefined) { %>
        <img src="//graph.facebook.com/<%= id %>/picture?type=large" class="img-thumbnail">
    <% } %>
</div>
<a href="/users/logout" class="btn btn-secondary">Logout</a>